yolo-opencv-detector/yolov4-tiny/obj.zip
yolo-opencv-detector/obj/*
yolo-opencv-detector/shuffled_images/*
yolo-opencv-detector/images/*
yolo-opencv-detector/.ipynb_checkpoints/
yolo-opencv-detector/yolo_dataset/*
yolo-opencv-detector/bkp/

*.weights

raw_data_processor/raw_data_parsing/*

demo_vid_creation/video/*
demo_vid_creation/yolov4-tiny/

*.zip

*avi
*mp4

*mkv

*jpg
*png

raw_data_processor/ocr/output_0ms